%mainGradient{
  background-image: -moz-linear-gradient( -180deg, rgba(193,29,226,0.95) 0%, rgba(193,29,226,0.95) 0%, rgba(149,3,178,0.95) 99%);
  background-image: -webkit-linear-gradient( -180deg, rgba(193,29,226,0.95) 0%, rgba(193,29,226,0.95) 0%, rgba(149,3,178,0.95) 99%);
  background-image: -ms-linear-gradient( -180deg, rgba(193,29,226,0.95) 0%, rgba(193,29,226,0.95) 0%, rgba(149,3,178,0.95) 99%);
}

%mainGradientTxt{
  @extend %mainGradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin rem($sizeValue){
  font-size: $sizeValue + px;
  font-size: ($sizeValue/16) + rem;
}

@mixin mediaMin($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

@mixin mediaMax($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

@mixin mediaBoth($width1,$width2) {
  @media only screen and(min-width:$width1) and (max-width: $width2) {
    @content;
  }
}