header.main-header
  a.main-header__logo(href=data.nav.index.link)
    img(src="img/logo.png")
  input#headerSidemenu-state(type="checkbox" hiddin)
  label.main-header__menuToggler(for='headerSidemenu-state')
    -for(var i=0; i<=2; i++)
      span
  #headerSidemenu.main-header__sideMenu
    nav.main-header__nav
      ul

        -for(var key in data.nav)
          -if(key == "lang")
            -continue
          li
            a(href=data.nav[key].link) #{data.nav[key].name}
      .btn.yellow_bg.round.main-header__cta 
        -if(rtl)
          span أضف مشاركتك
        -else
          span add your story
        i.mdi-plus
          
  label.main-header__menuTogglerOver(for='headerSidemenu-state')